<div class="card mt-5 mt-3-movil">
    <div class="card-body p-4">
        <div class="navbar">
            <h5 class="card-title">
                <img src="assets/images/supabase.png" class="img-icon"> <span class="text-white"> Supabase</span>
            </h5>
        </div>
        <div class="card-text">
            Supabase is an open source Firebase alternative that provides a database and tools for web and mobile
            application development. It is based on PostgreSQL and offers a RESTful and real-time API to interact with
            the database. Supabase also includes authentication, file storage, and serverless features, making it a
            comprehensive solution for building modern applications quickly and efficiently. Being open source, it
            allows developers to customize and extend its functionalities according to their specific needs. With its
            focus on ease of use and scalability, Supabase has become popular among developers looking for a flexible
            and powerful alternative for data management in their projects.
        </div>
    </div>
</div>

<div class="card mt-4 mt-3-movil mb-3-movil">
    <div class="card-body p-4">
        <div class="navbar">
            <h5 class="card-title">
                <img src="assets/images/angular.png" class="img-icon"> <span class="text-white"> Angular +</span>
                <img src="assets/images/supabase.png" class="img-icon"> <span class="text-white"> Supabase</span>
            </h5>
        </div>
        <div class="card-text">
            Combining Supabase and Angular for application development offers a number of significant advantages.
            Supabase provides a powerful relational database backed by PostgreSQL and a real-time RESTful API,
            facilitating efficient data management. On the other hand, Angular as a frontend framework speeds up
            development with its organized structure and reusable components. The integration of both technologies
            guarantees a secure application with advanced authentication and user management functions, as well as a
            scalable and flexible architecture that allows adaptation to the growth and evolution of the application.
            Together, Supabase and Angular offer a comprehensive solution that speeds up the development process,
            improves the user experience, and provides a solid foundation for modern, robust web applications.
        </div>
    </div>
</div>

<div class="card mt-4 mb-5 mt-3-movil mb-3-movil">
    <div class="card-body p-4">
        <div class="navbar">
            <h5 class="card-title">
                <img src="assets/images/liuben-lopez-aparicio.jpg" class="img-user"> Liuben López Aparicio
            </h5>
        </div>
        <div class="card-text">
            After graduating as a computer engineer in 2015, I worked at the "Centro de Bioplantas" research institute
            in Ciego de Ávila, Cuba, where I participated in several biotechnology research projects with different
            technologies and methodologies in the area of Bioinformatics, developing algorithms, software and web
            applications. In 2020 I started working as a Freelancer software developer, where I have been able to
            participate in various projects and ventures, which led me to discover my true passion for technical
            challenges and continuous learning.
        </div>
        <div class="mt-3">
            <a href="https://www.linkedin.com/in/liuben-lopez-aparicio" target="_blank" class="redes"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/liubenlopez?tab=repositories" target="_blank" class="redes"><i class="fab fa-github"></i></a>
            <a href="https://liubenlopez.github.io" target="_blank" class="redes"><i class="fa fa-user"></i></a>
        </div>
    </div>
</div>